<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4"><input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by : {{listFilter}}</h4>
            </div>
        </div>
    </div>
    <div class="table">
        <table class="table" *ngIf='products && products.length'>
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)='toggleImage()'>
                            {{showImage ? 'Hide' : "Show"}} Image
                        </button>
                    </th>
                    <th (click)='sort("productName")'  >Product <span [ngClass]="{'fa-sort-asc': currentSort=='productName' && sortAsc,'fa-sort-desc': currentSort=='productName' &&  !sortAsc}" class="fa"></span></th>
                    <th (click)='sort("productCode")' >Code <span [ngClass]="{'fa-sort-asc': currentSort=='productCode' && sortAsc,'fa-sort-desc': currentSort=='productCode' &&  !sortAsc}" class="fa"></span></th>
                    <th (click)='sort("releaseDate")'>Available <span [ngClass]="{'fa-sort-asc': currentSort=='releaseDate' && sortAsc,'fa-sort-desc': currentSort=='releaseDate' &&  !sortAsc}" class="fa"></span></th>
                    <th (click)='sort("price")'>Price <span [ngClass]="{'fa-sort-asc': currentSort=='price' && sortAsc,'fa-sort-desc': currentSort=='price' &&  !sortAsc}" class="fa"></span></th>
                    <th (click)='sort("starRating")'>5 Star Rating <span [ngClass]="{'fa-sort-asc': currentSort=='starRating' && sortAsc,'fa-sort-desc': currentSort=='starRating' &&  !sortAsc}" class="fa"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filteredProducts | sortBy: sortString:currentSort">
                    <td>
                        <img *ngIf="showImage" [src]='product.imageUrl' [title]='product.productName'
                            [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                    </td>
                    <td>
                        <a [routerLink]="['/product',product.productId]">
                            {{product.productName }}
                        </a>
                    </td>
                    <td>{{product.productCode | lowercase | convertToSpaces :'-'}}</td> 
                    <td>{{product.releaseDate }}</td>
                    <td>{{product.price | currency : 'INR':'symbol':'1.2-2'}}</td>
                    <td>
                        <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'>
                        </app-star>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>