<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class=text-center>
                <img src="./assets/image/page_logo.png" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
            </div>
            <div class="text-center">Developed by : </div>
            <div class="text-center">
                <h3>Rutuja Gurav</h3>
            </div>
            <div class="text-center">@rutujagurav</div>
            <div class="text-center">
                <a herf="https://github.com/RutujaGurav07">https://github.com/RutujaGurav07</a>

            </div>
        </div>

    </div>
</div>